/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
/*.box{
    width: 100px;
    height:100px;
    background-color: palevioletred;
    margin-top: 15px;
}

nav{
    background-color: rgb(26, 152, 112);
}
a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
nav ul li {

    display: inline-block;
   
    
}
nav ul{
    padding: 3px 0;
    text-align: center;
}
nav ul li a{
    display: block;
    padding: 10px 20px;
}


.Faq ul li{
   color: rgb(16, 1, 52);
   font-size: 20px;
   margin-left: 120px;
   padding:15px 0;
  
   
}
 p{
    color: rgb(0, 29, 34);
    font-size: 20px;
    margin-left: 50px;
    display: none;
    
   
}
.navFixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h3{
    margin-left: 50px;
}*/
/*.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.preloader .preloaderCnt{
    width: 100px;
    height: 100px;
    color: rgb(0, 0, 0);
}

.About{
  padding: 20px;
   
}*/
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader .preloaderCnt{
    width: 50px;
    height: 50px;
    border-top:3px solid #24465D;
    border-right: 3px solid transparent;
    border-left: 3px solid darkblue;
    border-bottom:3px solid #3771A3 ; 
    border-radius: 50%;
    animation-name: spinner;
    animation-duration: 0.5s;
    display: flex;
    justify-content: center;
  margin-top: 20px;
  animation-iteration-count: infinite;
     

    
}
@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.preloader .preloaderCnt .preloaderCnt2{
    width: 20px;
    height: 20px;
  border-radius: 50%;
 border-left:3px solid #DC4933  ;
 border-top:3px solid #643029 ;
 border-right:3px solid transparent ;
 border-bottom:3px solid red;
 margin:-10px ;
 margin-top: 10px;
 animation-name: spinner2;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
 

    
}
@keyframes spinner2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.preloader .preloaderCnt .preloaderCnt2 .preloaderCnt3{
    width: 30px;
    height: 33px;
  border-radius: 50%;
  margin:-10px ;
  
  margin-left: -6px;
 border-left:3px solid transparent  ;
 border-top:3px solid red ;
 border-right:3px solid #D7B20C ;
 border-bottom:3px solid #79661B;
 animation-name: spinner3;
 animation-duration: 0.5s;
 animation-iteration-count: infinite;
}
@keyframes spinner2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}